body{
  background-color: #d3d4d7;
  color: #151c0f;
  background-repeat: no-repeat;
  background-position: bottom;
}

h1{
	border-bottom:1px solid ;
	font-size:40px;
	font-weight:bold;
  text-align: center;
}

p,ul{
  text-align: center;
  font-weight: bold;
}

h2{
  text-align: left;
  color: #dad8d1;
  font-weight: bold;
  font-size: 250%;
}

div{
  border: 5px black solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
